<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>FGMusic | 歌手列表</title>
<meta name="keywords" content="FGMusic" />
<meta name="description" content="person music" />
<link rel="stylesheet" type="text/css" href="dist/css/style.css" />
<link rel="stylesheet" type="text/css" href="dist/css/player.css" />
<link rel="Shortcut Icon" href="dist/images/favicon.ico" />
<script type="text/javascript" src="dist/js/modernizr.js"></script>
<script>
    if ((!to3d()) || document.documentMode == 10 || document.documentMode == 11){
        window.location="error/error.html";
    }
</script>
</head>
<body>



<!--头部 开始-->
<div id="header">
    <!--顶部bar 开始-->

    <div id="headCont">
        <audio id="audioPlayer"></audio>
    	<!--二级导航-->
        <nav class="sub_nav">
            <div class="nav_list">
                <ul>
                    <li>
                    	<a href="index.html" class="smallogo">
                        	<span class="mini_logo"></span>
                        </a>
                    </li>
                    <div class="sub_list" id="home">
                        <p class="active">
                            <a href="index.html">主页</a>
                    </div>
                        </p>
                    <div class="sub_list" id="sub_list">
                        <p class="active">
                        	<a href="?cat=9">播放器</a>
                        </p>
                    </div>    
                    <div class="sub_list" id="singers">
                        <p class="active">
                            <a href="singers.html">歌手</a>
                        </p>
                    </div>
                    <div class="sub_list" id="music">
                        <p class="active">
                            <a href="rankingList.html">排行榜</a>
                        </p>
                    </div>
                    <div class="sub_list" id="login" style="float: right">
                        <p class="active">
                            <a href="login.html">登录</a>
                        </p>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
  	<!--头部导航  结束-->
</div>


<div id="singerApp">
    <!-- 音乐馆 模块 开始  default-->
    <section class="section_cont" >

        <div class="omnibus hot_singer">
            <div class="omnibus_cont new_common">
                <div class="omnibus_title new_common_title">
                    <span>热门歌手 ></span>    &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    <input  type="text" placeholder="大跟说：输入歌手名字" style="width: 250px;height: 30px;border-radius: 18px" v-model="search.key"/>
                    <!--<a href="#"  @click="test">搜索歌手</a>-->
                </div>
                <ul id="omnibus_list">
                    <li class="post_small" v-for="singer in singersList" :key="singer.id">
                        <a href="#" @click="tiaozhuan(singer.id)">
                            <img :src="singer.headUrl" alt="" width="130" height="130" style=" border-radius:75px;">
                            <span ></span>
                        </a>
                        <a href="#" @click="tiaozhuan(singer.id)" v-text="singer.cName?singer.cName:singer.name"></a>
                    </li>


                </ul>

            </div>

            <!--猜你喜欢-->
            <div class="hot_singer_cont new_common">
                <div class="hot_singer_title new_common_title">
                    <span>猜你喜欢</span>
                    <a href="" class="more"></a>
                </div>
                <ul class="singer_list">

                    <li v-for="singer in sixSinger" :key="singer.id">
                        <a href="#" @click="tiaozhuan(singer.id)">
                            <img :src="singer.headUrl" alt="" width="70" height="70" ></a>
                        <a href="#" @click="tiaozhuan(singer.id)" v-text="singer.cName?singer.cName:singer.name"></a>
                    </li>


                    <div style="clear:both;"></div>
                </ul>
            </div>

        <div style="clear:both"></div>
        </div>
    </section>



    <!--底部-->
    <div class="footer" id="footer">
        <div class="footer_cont_left" style="margin-left: 30%">
            <p>    <span id="pageId" >当前第{{this.search.page}}页</span> <span >  <button type="button" style="background:#556B2F" @click="deletePage">上一页</button> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" style="background:#B8860B" @click="addPage">下一页</button> </span> <span id="totalId">共{{this.totalPage}}页,共{{this.total}}个歌手</span> </p>
            <p>大富大贵组 |  吴星辰&nbsp;王志坚&nbsp;王富贵&nbsp;向清润&nbsp;陈晓明&nbsp;王承超<br>ITwcxing.com @ <a href="#">ITwcxing.com </a> 2019</p>
        </div>
    </div>

</div>
<script type="text/javascript" src="plugins/jquery/jquery.js"></script>
<script type="text/javascript" src="dist/js/index.js"></script>
<!--播放器js-->
<script type="text/javascript" src="dist/js/player.js"></script>
<script type="text/javascript" src="dist/js/playlist.js"></script>
<script type="text/javascript" src="dist/js/player_database.js"></script>
<!--播放器js-->
<!-- 底部模板调用 结束 -->





<script src="node_modules/vue/dist/vue.js"></script>

<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script>
    var singerApp=new Vue({

        el: "#singerApp" ,
        data: {
            search: {
                key: "",
                page: 1,
            },
            totalPage: 0,
            total:0,
            singersList: [],
            sixSinger:[],
        },
        created() {
            this.ajaxGoPageSearch();
            this.ajaxGoGetSixSinger();
        },
        watch: {
            search: {
                deep: true,
                handler(val, old) {

                    this.ajaxGoPageSearch();
                }
            }

        },
        methods:{
            ajaxGoPageSearch(){
                this.$http.post("http://127.0.0.1:8888/singer/qiantaiPage",this.search).then(
                    function (res) {

                        if (res.status==200){
                              this.totalPage=res.data.totalPage;

                              this.total=res.data.total;
                              this.singersList=res.data.items;
                        }
                        
                    },function (res) {

                    }
                );
            },
           addPage(){
                if (this.search.page==this.totalPage){
                    return;
                }else {
                    this.search.page=this.search.page+1;
                    this.ajaxGoPageSearch()
                }

           } ,
           deletePage(){
               if (this.search.page==1){
                   return;
               } else {
                   this.search.page=this.search.page-1;
                   this.ajaxGoPageSearch()
               }
           },
            tiaozhuan(id){
                window.location.href="singerInfo.html?sid="+id;
            },
            ajaxGoGetSixSinger(){
                this.$http.post("http://127.0.0.1:8888/singer/getSixSinger").then(
                    function (res) {

                        if (res.status==200){

                            this.sixSinger=res.data;
                        }

                    },function (res) {

                    }
                );
            },
            test(){
              alert(this.search.key)
            },
    },

    });



</script>


</body>
</html>


